<!DOCTYPE html>
<html>
<head>
  <title>INDEX</title>
</head>
  <body> 
    <form action="/landmarks/landmarks" method="post"> 
      <h1>Individual Landmark</h1>
      <h2>Name</h2>
      <h3><%= @landmark.name %>, <%= @landmark.year_completed %></h3>
      <h2>Figure associated with this Landmark</h2>
        <%  Figure.all.each do |figure| %>
        <% if figure.id == @landmark.figure_id %>

      <h3><a href="/figures/<%="#{figure.id}"%>"><%= figure.name %></h3><br>
        <% end %>
      <% end %>
    </form>
  </body>
</html>