<!DOCTYPE html>
<html>
<head>
  <title>NYC Figures Titles and Landmarks APP</title>
</head>
<body>

<h1><label>NYC Figures Titles and Landmarks APP</label></h1>
<label></label>


<h3><p><a href="/figures">All Figures</a></p></h3>
<h3><p><a href="/landmarks">All Landmarks</a></p></h3>


</body>
</html>